   /* Default styles for larger screens */
.paws-1-1 {
    position: absolute;
    left: 1200px;
    width: 373px;
    height: 421.49px;
    object-fit: cover;
}

.macbook-air-1-child {
    position: relative;
    top: 90px;
    left: 100px;
    border-radius: 50%;
    width: 434px;
    height: 407px;
    object-fit: cover;
}

.who-we-are {
    position: absolute;
    top: 156px;
    right: 30%;
    font-size: 40px;
    display: inline-block;
    color: #ea850f;
    width: 295px;
    height: 62px;
}

.about-pet-bazaar,
.lorem-ipsum-dolor1 {
    position: absolute;
    left: 640px;
    display: inline-block;
}

.about-pet-bazaar {
    top: 218px;
    font-size: 25px;
    width: 391px;
    height: 47px;
}

.lorem-ipsum-dolor1 {
    top: 287px;
    width: 510px;
    height: 215px;
}

.macbook-air-1 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1461px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-karla);
}



/* Media query for desktops (992px wide) */
/* @media screen and (max-width: 1200px) {
    .paws-1-1 {
        left: 500px;
    }

    .macbook-air-1-child {
        left: 0;
    }

    .who-we-are {
        right: 0;
        top: 20px;
    }

    .about-pet-bazaar,
    .lorem-ipsum-dolor1 {
        left: 0;
    }

    .about-pet-bazaar {
        top: 100px;
        width: 100%;
        text-align: center;
    }
} */

@media screen and (min-width: 1025px) and  (max-width: 1200px) {
    body {
        margin-top: 110px;
    }

    .paws-1-1,
    .macbook-air-1-child {
        position: static;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .macbook-air-1-child {
        width: 45%; /* Adjust the width based on your design */
    }

    .who-we-are,
    .about-pet-bazaar,
    .lorem-ipsum-dolor1 {
        position: absolute;
        /* width: 100%; */
        left: 530px;
        text-wrap: wrap;
        /* max-width: 100%; */
        height: auto;
        /* text-align: center; */
    }
}


/* @media screen and  (min-width: 769px) and (max-width: 1024px) {
    body {
        margin-top: 110px;
    }

    .paws-1-1,
    .macbook-air-1-child {
        position: static;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .who-we-are {
        position: static;
        text-align: center;
    }

    .about-pet-bazaar,
    .lorem-ipsum-dolor1 {
        position: static;
        text-align: center;
        width: 100%;
    }
} */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        margin-top: 110px;
    }

    .paws-1-1,
    .macbook-air-1-child {
        position: static;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .macbook-air-1-child {
        width: 60%; /* Adjust the width based on your design */
        margin: 10px 200px; /* Center the image horizontally */
    }

    .who-we-are {
        position: static;
        text-align: center;
        margin-left: 350px;
    }

    .about-pet-bazaar,
    .lorem-ipsum-dolor1 {
        position: static;
        text-align: center;
        width: 100%;
    }
}


/* Media query for mobile phones (600px wide) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Add styles specific to 600px wide screens here */
    body{
        margin-top: 120px;
    }
    .paws-1-1,
    .macbook-air-1-child {
        position: static;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .macbook-air-1-child {
        width: 70%; /* Adjust the width based on your design */
        margin: 10px 100px; /* Center the image horizontally */
    }


    .who-we-are {
        position: static;
        text-align: center;
        margin-left: 200px;
    }

    .about-pet-bazaar,
    .lorem-ipsum-dolor1 {
        position: static;
        text-align: center;
        width: 100%;
    }
}

/* Media query for mobile phones (420px wide) */
@media screen and (max-width: 480px) {
    body{
        margin-top: 110px;
    }
    .macbook-air-1-child {
        position: static;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .who-we-are {
        position: static;
        justify-content: center;
        text-align: center;
    }

    .about-pet-bazaar,
    .lorem-ipsum-dolor1 {
        position: static;
        text-align: center;
        width: 100%;
    }
}

